/* Optional: Makes the sample page fill the window. */
/* header */
.top-bar{
    z-index: 2;
    position: fixed;
    width: 100%;
}
.menu .menu-text{
    padding: 0.2rem 0.2rem;
}
.menu-text a{
    color: black;
}

.dropdown-pane{
    width: 150px;
}
/* common */
html, body {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

[v-cloak]{
    display: none;
}

/* input form*/
h3{
    text-align: center;
}

.grid-container{
    margin-top: 50px;
    padding-top: 1.5rem;
    width: 100%;
    /* border: 1px solid rgba(0,0,0,.0975); */
}

#example-tabs, .tabs-content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.add-button{
    width: 20rem;
}

.search-button{
    width:  10rem;
}

.button-wrapper{
    text-align: center;
}

.card{
    width: 450px;
}

.start-time{
    padding: 2rem;
}

.start-time label{
    padding: 0.5rem;
}

#delete-form{
    margin: 1.5em 0 0 0;
    float: right;
    height: 3em;
}

/* model plan list*/
.plan-title{
    cursor: pointer;
    font-size: 1.2rem;
}

.plan-title:hover{
    text-decoration-line: underline;
}

/* loading */
.loading-bg{
    /* display: none; */
    /* display: block; */
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.loading-bg div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    color: #fff;
    font-size: 1.5rem; 
}
/* popup */
.popup{
    left: 0;
    right: 0;
    /* top:0; */
    /* bottom: 0; */
    z-index: 1;
    position: fixed;
    height: 100vh;
    padding: 3vh 7vh;
    vertical-align: middle;
    background: #fff;
    border: 1px solid rgba(0,0,0,.0975);
    overflow: scroll;
}

/* map */
/*place-list*/
#map-comp{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    z-index: 1;
    background: #fff;
}
.place-list{
    padding: 30px 40px;
    height: 100vh;
    overflow: scroll;
    background: #fff;
}
.card-divider{
    padding: 0.5rem;
}

.place{
    margin: 0.5rem 0 0 0;
}

.vue-map-container{
    width: 800px;
    height: 100vh;
}

/*Map size*/
/*for tablet */
/* @media (min-width: 768px){
    .vue-map-container{
        width: 700px;
        height: 100vh;
    }
}

@media (min-width: 375px){
    .vue-map-container{
        width: 500px;
        height: 50vh;

    }
} */