.l-navigation {
  width: 70%;
  margin: 0 auto;

  & > ul {
    list-style: none;
    border-bottom: 1px solid #ddd;

    & > li {
      display: inline-block;
      padding: 0.5em;
      width: 50%;
      text-align: center;
    }
  }
}
