.c-mapping {
  &__mapview {
    & .vue-map-container {
      width: auto;
      height: 60vh;
    }

  }

  &__list {
    border: solid 1px #ddd;
    margin: 1em 0;
    padding: 1em;
    height: 25vh;
    overflow-y: scroll;

    & > ul {
      list-style: none;

      & > li {
        border-bottom: 1px solid #ddd;
        padding: 0.5em;
      }
    }
  }
}